*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url('../img/123.jpg');
}
.content{
    max-width: 600px;
    margin: 100px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 3px black;
    border-radius: 3px;
}
header h1{
    font-size: 45px;
    color: black;
    padding: 0 10px;
}
.navbar a{
    color: #888888;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
}
.navbar{
    padding: 10px;
    border-bottom: 1px solid silver;
}
.main-content{
    min-height: 200px;
}
.main-content form input{
    width: 50%;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 3px;
}
.main-content form button{
    width: 20%;
    height: 40px;
    border: 1px solid silver;
    border-radius: 3px;
    background: white;
    transition: .2s all;
}
.main-content form button:hover{
    background: rgba(0, 0, 0, .4);
    color: white;
}
::placeholder{
    font-size: 15px;
}
.main-content p{
    font-size: 18px;
    margin: 10px 0;
    color: slategray;
}
footer p{
    font-size: 15px;
    padding: 10px;
    border-top: 1px solid silver; 
    color: #888888;
    font-weight: 500;
}
img{
    margin: 10px;
    box-shadow: 1px 1px 5px black;
    width: 200px;
}
@media(max-width:800px)
{
    .content{
        max-width: 70vw;
    }
}
@media(max-width:500px)
{
    header h1{
        text-align: center;
    }
    .navbar{
        text-align: center;
    }
    p:first-child{
        text-align: center;
    }
    .main-content form input{
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-content form button{
        margin-top: 10px;
        width: 100%;
        margin-left: 1.5%;
        font-weight: 600;
        background-color: rgba(200, 200, 200, .9);
    }
    p{
        text-align: center;
    }
    img{
        width: 90%;
    }
}